{% extends 'authBase.html.twig' %}

{% block title %}Rejestracja{% endblock %}


{% block cardBody %}

    <div class="card-header">
        <h3 class="text-center font-weight-light my-4">Zarejestruj się</h3>
    </div>

    <div class="card-body">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstname, {
            'label' : 'Imię'
        }) }}
        {{ form_row(registrationForm.lastname, {
            label: 'Nazwisko'
        }) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Hasło'
        }) }}

        <button type="submit" class="btn btn-lg btn-primary">Zarejestruj</button>

        {{ form_end(registrationForm) }}
    </div>

    <div class="card-footer text-center py-3">
        <div class="small"><a href="{{ path('app_login') }}">Masz już konto? Zaloguj się</a></div>
    </div>
{% endblock %}
