<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                {% if not app.user %}
                    <div class="sb-sidenav-menu-heading">Menu</div>
                    <a class="nav-link" href="{{ path('app_login') }}">
                        Logowanie
                    </a>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                <div class="sb-sidenav-menu-heading">Administracja</div>
                    <a class="nav-link" href="{{ path('timetable_index') }}">
                        Grafiki
                    </a>
                    <a class="nav-link" href="{{ path('specialization_index') }}">
                        Specjalizacje
                    </a>
                    <a class="nav-link" href="{{ path('user_list') }}">
                        Użytkownicy
                    </a>

                    <a class="nav-link" href="{{ path('doctor_index') }}">
                        Lekarze
                    </a>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <div class="sb-sidenav-menu-heading">Panel </div>
                    <a class="nav-link" href="{{ path('user_edit', {id: app.user.id}) }}">
                    Edycja konta
                </a>

                <a class="nav-link" href="{{ path('visit_list') }}">
                    Wizyty
                </a>
            {% endif %}

        </div>
    </nav>
</div>