{{ form_start(form) }}
<div class="mb-2">
    <label>Opis grafiku</label>
    {{ form_widget(form.description) }}
</div>

<h2>Dni pracujące</h2>
<div class="form-group form-check">

    {% include 'timetable/_formWorkDayRow.html.twig' with {day : form.monday, dayWorkHours: form.mondayWorkHours} %}

    {% include 'timetable/_formWorkDayRow.html.twig' with {day : form.tuesday, dayWorkHours: form.tuesdayWorkHours} %}

    {% include 'timetable/_formWorkDayRow.html.twig' with {day : form.wednesday, dayWorkHours: form.wednesdayWorkHours} %}

    {% include 'timetable/_formWorkDayRow.html.twig' with {day : form.thursday, dayWorkHours: form.thursdayWorkHours} %}

    {% include 'timetable/_formWorkDayRow.html.twig' with {day : form.friday, dayWorkHours: form.fridayWorkHours} %}

    {% include 'timetable/_formWorkDayRow.html.twig' with {day : form.saturday, dayWorkHours: form.saturdayWorkHours} %}

    {% include 'timetable/_formWorkDayRow.html.twig' with {day : form.sunday, dayWorkHours: form.sundayWorkHours} %}

</div>

{{ form_widget(form) }}


    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
