{% extends 'pageBase.html.twig' %}

{% block title %}Lista lekarzy{% endblock %}

{% block content %}

    <a class="btn btn-success mt-1 float-end me-2" href="{{ path('doctor_new') }}">Dodaj nowego lekarza</a>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imię i Naziwsko</th>
                <th>Stopień naukowy</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.id }}</td>
                <td>{{ doctor.user.username }}</td>
                <td>{{ doctor.degree }}</td>
                <td>
                    <a class="ms-1" href="{{ path('doctor_edit', {'id': doctor.id}) }}"><i class="fas fa-edit"></i></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Brak lekarzy w systemie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
